{% extends 'Properties/home_page.html' %} {% load static %} {% block content %}

<div class="container-fluid landlord-post">
    <form action="{% url 'rental:save_post'%}" method="POST">
        {% csrf_token %}
        <div class="fill">Welcome and Fill the Requirements Here down in order to Post your property</div>
        <div class="first-blog">
            <div class="ll-info">Landlord Information</div>
            <label class="ll-kind" for="">Which kind of landlord are You?</label><br>
            <input type="checkbox" name="landlord-id" id="exist" value="Exist" onclick="myFunction()">
            <label for="exist">I already registered!</label>
            <div id="myDIV">
                <div>
                    <select name="l-kind" class="landlord-type" required name="" id="">
                        <option selected value="">...</option>
                        <option name ="individual" value="individual">individual</option>
                        <option name ="company" value="company">company</option>
                    </select>
                </div>

                <label for="">Your name<Span>*</Span></label><br>
                <input name="l-name" type="text" required><br>
                <label for="">Your email<Span>*</Span></label><br>
                <input name="l-email" type="text" required placeholder="Eg: houserental@gmail.com"><br>
                <div class="profil-info">Your email will be used only by the company for contacting you</div>
                <label for="">Your Id/Passport number<Span>*</Span></label><br>
                <input name="l-id" type="text" required><br>
                <div class="profil-info">Your Id is required only for security issues </div>
                <label for="">Your Phone number<Span>*</Span></label><br>
                <input name="l-phone" type="tel" required placeholder="Eg. +250782505763">
            </div>
            <!-- <div class="myP" id="myP">
                <label for="">Select Your Id<Span>*</Span></label><br>
                <select name="id-landlord" class="id-field" required name="" id="">
                        <option selected value="">...</option>
                        {% for land in landlords %}
                        <option name ="{{land.landlord_id}}" value="{{land.landlord_id}}">{{land.landlord_id}}</option>
                        {% endfor %}
                    </select>
            </div> -->
        </div>
        <div class="second-blog">
            <div class="card card-second">
                <div class="card-header ">Property Information</div>
                <div class="card-body ">
                    <div>
                        <label for="">Category<Span>*</Span></label><br>
                        <select name="p-category" required name="" id="">
                                <option selected value="">...</option>
                                <option value="1">Rent</option>
                                <option value="2">Sale</option>
                            </select></div><br>
                    <div> <label for="">Property type<Span>*</Span></label><br>
                        <select name="p-type" required name="" id="">
                                <option selected value="">...</option>
                                <option value="Apartment">Apartment</option>
                                <option value="Office">Office</option>
                                <option value="House">House</option>
                                <option value="other">Other</option>
                            </select></div>
                    <br>
                    <div>
                        <label for="">Property title <span>*</span></label><br>
                        <input name="p-title" type="text" placeholder="Eg. Nice house for rent in Bugangari"><br>
                        <div class="profil-info">
                            The title you will provide will be posted on the profile of your property <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="third-blog">
            <div class="card card-second">
                <div class="card-header ">Property Pricing</div>
                <div class="card-body">

                    <!-- <label for="">Is Your Price negotiable ?</label><br>
                    <input value="1" type="radio"> <label class="radio" for="">No</label><br>
                    <input value="2" type="radio"> <label class="radio" for="">Yes</label><br> -->

                    <label for="">Price<Span>*</Span></label><br>
                    <input name="p-price" required value type="number"><br>

                    <label for="">Currency<span>*</span></label><br>
                    <select name="p-currency" id="">
                            <option selected value="">...</option>
                            <option value="USD">USD</option>
                            <option value="RWF">RWF</option>
                            <option value="CDF">CDF</option>
                        </select><br>
                    <label for="">Payable<span>*</span></label><br>
                    <select name="p-payable" id="">
                            <option selected value="">...</option>
                            <option value="Daily">Daily</option>
                            <option value="Weekly">Weekly</option>
                            <option value="Monthly">Monthly</option>
                            <option value="Semester">Semester</option>
                            <option value="Trimester">Trimester</option>
                            <option value="Yearly">Yearly</option>
                        </select>
                </div>
            </div>
        </div>
        <div class="fourth-blog">
            <div class="card card-second">
                <div class="card-header ">Property Characteristics</div>
                <div class="card-body">
                    <label for="">Rooms</label><br>
                    <input name="p-room" type="number"><br>
                    <!-- <div class="profil-info">Bedroom is required only if the property type is House, apartment or Building
                    </div> -->
                    <label for="">Bathrooms/toilet</label><br>
                    <input name="p-bathroom" type="number"><br>
                    <label for="">Property Description<span>*</span></label><br>
                    <textarea name="p-description" class="area p-1" required name="" id="" placeholder=""></textarea>
                    <div class="profil-info">The description of your Property must provide all details that are related to your property in order to let Clients being informed about, before the physical visit </div>
                </div>

            </div>
        </div>
        <div class="fith-blog">
            <div class="card card-second">
                <div class="card-header ">Property Location</div>
                <div class="card-body">
                    <label for="">Sector/Umurenge<span>*</span></label><br>
                    <input type="text" name="p-sector" id="" required><br>
                    <label for="">Cell/Akagari<span>*</span></label><br>
                    <input type="text" name="p-cell" id="" required><br>
                    <label for="">Village/Umudugudu<span>*</span></label><br>
                    <input type="text" name="p-village" id="" required><br>
                    <label for="">Number and Street<span>*</span></label><br>
                    <input type="text" name="p-number" id="" required><br>
                </div>


                <div class="card-body card-images">
                    <div class="profil-info">Use the "Choose File" button below to upload the images of your property. Pictures will be uploaded together but they will appear one by one. They might take time to appear depending on the speed of your internet connection</div><br>
                    <div></div>
                    <div></div>
                    <input name="p-profile" class="file-upload" upload_to='properties/%Y/%m/%d' type="file" accept="image/*">
                </div>
            </div>
        </div>
        <div class="sixth-blog">
            <div class="card card-second">
                <div class="card-header ">Map Location addres</div>
                <div class="card-body">
                    <img class="image-fluide image-location" src="{% static 'img/oip.jpg'%}" alt="">
                    <div class="">
                        <label for="">Latitude</label><br>
                        <input name="latitude" type="text"><br>
                        <label for="">Longitude</label><br>
                        <input name="longitude" type="text"><br>
                    </div>
                </div>
            </div>
        </div>
        <input class="btn btn-save" type="submit" value="Submit"><br>
    </form>
</div>

<script>
    function myFunction() {
        if (document.getElementById("myDIV").style.display == "none") {
            document.getElementById("myDIV").style.display = "block";
            document.getElementById("myP").style.display = "none";

        } else {
            document.getElementById("myDIV").style.display = "none";
            document.getElementById("myP").style.display = "block";

        }
    }
</script>

{% endblock content %}